<IfModule mod_rewrite.c>
	# 405 Method Not Allowed
	RewriteCond %{_ROUTING__allow_POST} !-z [OR]
	RewriteCond %{_ROUTING__allow_GET} !-z [OR]
	RewriteCond %{_ROUTING__allow_HEAD} !-z
	RewriteRule .* app.php [QSA,L]
</IfModule>
