<h3>{{ 'Seleccione un día.'|trans }}</h3>
<div id="datepicker"></div>
<script type="text/javascript">
$(function() {
    $( "#datepicker" ).datepicker({
        dateFormat: 'yy-mm-dd',
        onSelect: function(textoFecha, objDatepicker){
            
            window.location = "/app.php/ofertas/" + textoFecha;
        }
    });
});
</script>