{% extends '::base.html.twig' %}

{% block content %}
<div class="page_buscador">
    <h1>{{ 'Buscador.'|trans }}</h1>
    <div class="buscador">
        <form class="form-search" method="get" action="#">        
            <input type="text" name="q" value="{{ query }}" style="width: 890px;" class="search-query" onkeyup="{{ jq_remote_function({
                'update':   'zona_list', 
                'url':      path('buscador'),
                'method':   'GET',
                'with':     'param($(this).val())',
                'complete': "jQuery('#indicador_busqueda').hide();",
                'loading':  "jQuery('#indicador_busqueda').show();",
            }) }}">
            <img style="display: none;" src="{{ asset('bundles/culabsadmin/images/loader.gif') }}" id="indicador_busqueda"/>
            <script type="text/javascript">
                function param(value)
                {
                    return 'q=' + value;
                }
            </script>
        </form>
    </div>
    <div id="zona_list">
        {% include 'CorePlatoBundle:Buscador:list.html.twig' with {
            'pager': pager,
            'query': query,
        } %}
    </div>
</div>
{% endblock %}